__*
/Dash_App/raw_docs
/Dash_App/doc_images_and_summaries
/Dash_App/vectorstore
/Dash_App/logs
/Dash_App/history
/Dash_App/.chainlit
/Dash_App/lib/.chainlit
/Dash_App/user_in_progress_nifs
/Dash_App/control_docs/~$Expert_System_Rules.xlsx
/admin_feedback
/user_in_progress_nifs
/user_files
/output
/vectorstore
/assets/doc_images_and_summaries
/history
/logs
/.venv
/.chainlit
/python_env
.env
descript.ion
knva-nifty.properties.sh
control_docs/~$Expert_System_Rules.xlsx
